PyToNode/flow toso.json
[{"id":"be5d0dcd.50e3e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f6894655.dcd09","type":"visual-recognition-v3","z":"be5d0dcd.50e3e8","name":"","vr-service-endpoint":"","image-feature":"classifyImage","lang":"en","x":423,"y":43,"wires":[["33dc901b.189de"]]},{"id":"58d2606f.269c48","type":"debug","z":"be5d0dcd.50e3e8","name":"class score","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","x":770,"y":163,"wires":[]},{"id":"9325ae88.9a5a38","type":"function","z":"be5d0dcd.50e3e8","name":"classifier ID allot","func":"clsId = \"CardiGo-VR_238285693\";\nmsg.params={};\nmsg.params[\"classifier_ids\"]=clsId;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":43,"wires":[["f6894655.dcd09"]]},{"id":"83047d9e.e417e","type":"change","z":"be5d0dcd.50e3e8","name":"","rules":[{"t":"set","p":"m","pt":"flow","to":"result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":739,"y":103,"wires":[["1c66a714.046d19"]]},{"id":"617ddf92.c247a","type":"http in","z":"be5d0dcd.50e3e8","name":"","url":"trp","method":"get","upload":false,"swaggerDoc":"","x":116,"y":371,"wires":[["4cc076da.82cc18"]]},{"id":"656a0794.e90fe","type":"http response","z":"be5d0dcd.50e3e8","name":"","statusCode":"","headers":{},"x":778,"y":371,"wires":[]},{"id":"4cc076da.82cc18","type":"change","z":"be5d0dcd.50e3e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"m","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":306,"y":371,"wires":[["b51469bd.96caf"]]},{"id":"b51469bd.96caf","type":"json","z":"be5d0dcd.50e3e8","name":"","property":"payload","action":"","pretty":false,"x":477,"y":371,"wires":[["656a0794.e90fe"]]},{"id":"1b99ac38.402a84","type":"inject","z":"be5d0dcd.50e3e8","name":"start","topic":"","payload":"b","payloadType":"flow","repeat":"30","crontab":"","once":false,"onceDelay":"40","x":133,"y":123,"wires":[["b8b42dc7.aee02"]]},{"id":"651bba2b.7dae5c","type":"http in","z":"be5d0dcd.50e3e8","name":"Img. post","url":"/mns","method":"post","upload":true,"swaggerDoc":"","x":116,"y":439,"wires":[["7c743542.04511c","dec659bd.ea47a"]]},{"id":"7c743542.04511c","type":"http response","z":"be5d0dcd.50e3e8","name":"","statusCode":"","headers":{"content-type":"image/png"},"x":326,"y":440,"wires":[]},{"id":"fed390f5.df639","type":"debug","z":"be5d0dcd.50e3e8","name":"face img.","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":579,"y":503,"wires":[]},{"id":"dec659bd.ea47a","type":"change","z":"be5d0dcd.50e3e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":217,"y":503,"wires":[["a4dac42e.ab2718"]]},{"id":"a4dac42e.ab2718","type":"change","z":"be5d0dcd.50e3e8","name":"","rules":[{"t":"set","p":"b","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":418,"y":503,"wires":[["fed390f5.df639"]]},{"id":"a594ae1a.e7f86","type":"http in","z":"be5d0dcd.50e3e8","name":"ID post","url":"/Id","method":"post","upload":false,"swaggerDoc":"","x":113,"y":561,"wires":[["11895a43.5dec3e","3f2aab5a.6bdfd4"]]},{"id":"11895a43.5dec3e","type":"http response","z":"be5d0dcd.50e3e8","name":"","statusCode":"","headers":{},"x":356,"y":561,"wires":[]},{"id":"e7e79ff.72cc9e","type":"change","z":"be5d0dcd.50e3e8","name":"","rules":[{"t":"set","p":"o","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":456,"y":612,"wires":[["301db104.6c2bbe"]]},{"id":"301db104.6c2bbe","type":"debug","z":"be5d0dcd.50e3e8","name":"Emp. ID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":636,"y":612,"wires":[]},{"id":"3f2aab5a.6bdfd4","type":"json","z":"be5d0dcd.50e3e8","name":"","property":"payload","action":"obj","pretty":false,"x":266,"y":613,"wires":[["e7e79ff.72cc9e"]]},{"id":"33dc901b.189de","type":"change","z":"be5d0dcd.50e3e8","name":"","rules":[{"t":"set","p":"result.Em_Id","pt":"msg","to":"o.Id","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":103,"wires":[["83047d9e.e417e"]]},{"id":"1c66a714.046d19","type":"json","z":"be5d0dcd.50e3e8","name":"","property":"result","action":"","pretty":false,"x":550,"y":163,"wires":[["58d2606f.269c48","eb956e06.7b115"]]},{"id":"b8b42dc7.aee02","type":"image viewer","z":"be5d0dcd.50e3e8","name":"","width":160,"data":"payload","dataType":"msg","x":310,"y":123,"wires":[["9325ae88.9a5a38"]]},{"id":"1bf12fd8.62cb28","type":"cloudant out","z":"be5d0dcd.50e3e8","name":"score store","cloudant":"","database":"nodered","service":"node-red-vlxgg-cloudant-1589553649048-82948","payonly":false,"operation":"insert","x":770,"y":283,"wires":[]},{"id":"eb956e06.7b115","type":"change","z":"be5d0dcd.50e3e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"result.images","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":223,"wires":[["1bf12fd8.62cb28"]]}]