PyToNode/flow toso.json
[{"id":"be5d0dcd.50e3e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f6894655.dcd09","type":"visual-recognition-v3","z":"be5d0dcd.50e3e8","name":"","vr-service-endpoint":"","image-feature":"classifyImage","lang":"en","x":410,"y":100,"wires":[["83047d9e.e417e"]]},{"id":"58d2606f.269c48","type":"debug","z":"be5d0dcd.50e3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","x":710,"y":240,"wires":[]},{"id":"9325ae88.9a5a38","type":"function","z":"be5d0dcd.50e3e8","name":"allot","func":"clsId = \"stress_results_2027506701\";\nmsg.params={};\nmsg.params[\"classifier_ids\"]=clsId;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":100,"wires":[["f6894655.dcd09"]]},{"id":"83047d9e.e417e","type":"change","z":"be5d0dcd.50e3e8","name":"","rules":[{"t":"set","p":"m","pt":"flow","to":"result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":100,"wires":[["6d61fddf.0905fc"]]},{"id":"b8b42dc7.aee02","type":"image viewer","z":"be5d0dcd.50e3e8","name":"","width":160,"data":"payload","dataType":"msg","x":330,"y":220,"wires":[["9325ae88.9a5a38"]]},{"id":"6d61fddf.0905fc","type":"json","z":"be5d0dcd.50e3e8","name":"","property":"result","action":"","pretty":false,"x":550,"y":180,"wires":[["58d2606f.269c48"]]},{"id":"617ddf92.c247a","type":"http in","z":"be5d0dcd.50e3e8","name":"","url":"trp","method":"get","upload":false,"swaggerDoc":"","x":130,"y":707,"wires":[["4cc076da.82cc18"]]},{"id":"656a0794.e90fe","type":"http response","z":"be5d0dcd.50e3e8","name":"","statusCode":"","headers":{},"x":700,"y":707,"wires":[]},{"id":"4cc076da.82cc18","type":"change","z":"be5d0dcd.50e3e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"m","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":707,"wires":[["b51469bd.96caf"]]},{"id":"b51469bd.96caf","type":"json","z":"be5d0dcd.50e3e8","name":"","property":"payload","action":"","pretty":false,"x":480,"y":707,"wires":[["656a0794.e90fe"]]},{"id":"1b99ac38.402a84","type":"inject","z":"be5d0dcd.50e3e8","name":"start","topic":"","payload":"b","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":"40","x":90,"y":180,"wires":[["b8b42dc7.aee02"]]},{"id":"651bba2b.7dae5c","type":"http in","z":"be5d0dcd.50e3e8","name":"","url":"/mns","method":"post","upload":true,"swaggerDoc":"","x":120,"y":486,"wires":[["7c743542.04511c","dec659bd.ea47a"]]},{"id":"7c743542.04511c","type":"http response","z":"be5d0dcd.50e3e8","name":"","statusCode":"","headers":{"content-type":"image/png"},"x":470,"y":486,"wires":[]},{"id":"fed390f5.df639","type":"debug","z":"be5d0dcd.50e3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":566,"wires":[]},{"id":"dec659bd.ea47a","type":"change","z":"be5d0dcd.50e3e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":586,"wires":[["a4dac42e.ab2718"]]},{"id":"647d0ec0.1e563","type":"base64","z":"be5d0dcd.50e3e8","name":"Encode","action":"","property":"payload","x":380,"y":626,"wires":[["b72cfd6a.25862"]]},{"id":"b72cfd6a.25862","type":"change","z":"be5d0dcd.50e3e8","name":"","rules":[{"t":"set","p":"p","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":626,"wires":[[]]},{"id":"a4dac42e.ab2718","type":"change","z":"be5d0dcd.50e3e8","name":"","rules":[{"t":"set","p":"b","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":566,"wires":[["fed390f5.df639"]]}]